.tree-holder {
  .tree-content-holder {
    float: left;
    width: 100%;
  }

  .tree_progress {
    display: none;
    margin: 20px;
    &.loading {
      display: block;
    }
  }

  .tree-table {
    @extend .table;
    @include border-radius(0);

    tr {
      td, th {
        padding: 8px 10px;
        line-height: 20px;
      }
      th {
        font-weight: normal;
        font-size: 15px;
        border-bottom: 1px solid #CCC !important;
      }
      td {
        border-color: #F1F1F1 !important;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
      }
      &:hover {
        td {
          background: $hover;
          border-top: 1px solid #ADF;
          border-bottom: 1px solid #ADF;
        }
        cursor: pointer;
      }
      &.selected {
        td {
          background: #f5f5f5;
          border-top: 1px solid #EEE;
          border-bottom: 1px solid #EEE;
        }
      }
    }
  }

  .tree-item {
    .tree-item-file-name {
      max-width: 320px;
      vertical-align: middle;
      a {
        &:hover {
          color: $primary_color;
        }
      }

      img {
        position: relative;
        top:-1px;
      }
    }

    .tree_commit {
      max-width: 320px;
    }

    .tree_time_ago {
      min-width: 135px;
    }
  }

  .tree_author {
    padding-right: 8px;
  }

  .tree_commit {
    color: gray;

    .tree-commit-link {
      color: #444;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .blame {
    img.avatar {
      border: 0 none;
      float: none;
      margin: 0;
      padding: 0;
    }
    td.blame-commit {
      background: #f9f9f9;
      min-width: 350px;
    }
    td.blame-numbers {
      pre {
        color: #AAA;
        white-space: pre;
      }
      background: #f1f1f1;
      border-left: 1px solid #DDD;
    }
  }
}

.tree-btn-group {
  top: 2px;

  .btn {
    margin-right: 0px;
    padding: 2px 10px;
  }
}

.tree-ref-holder {
  float: left;
  margin-top: 8px;
}

.readme-holder {
  border-top: 1px dashed #CCC;
  padding-top: 10px;

  .readme-file-title {
    font-size: 14px;
    margin-bottom: 20px;
    color: #777;
  }
}

.blob-commit-info {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  .commit {
    .commit-row-title {
      font-size: 13px;

      .commit-row-message {
        font-weight: normal;
        color: #555;
      }
    }
  }
}
